<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />-->
    <container>
      <!--<extension type="Interception" />-->
      <register type="DChat.Framework.Cache.IRedisCache, DChat.Framework" mapTo="DChat.Framework.Cache.RedisCache, DChat.Framework">
        <lifetime type="singleton" />
      </register>
      <register type="DChat.Framework.Log.ILogger, DChat.Framework" mapTo="DChat.Framework.Log.Log4NetLogger, DChat.Framework">
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
</configuration>
