@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .mscontent { background: #CDD7E2; padding: 8px; max-width: 50%; border-radius: 5px; display: inline-block; clear: both; vertical-align: text-top; word-break: break-all; }
    .head { display: inline-block; }
        .head img { width: 30px; height: 30px; }
        .head .nickname { display: inline-block; height: 10px; font-size: 12px; vertical-align: top; padding: 3px; }
    .msg-list .left { position: relative; width: 300px; text-align: left; float: left; clear: both; margin-top: 20px; margin-bottom: 20px; }
    .msg-list .right { position: relative; width: 300px; text-align: right; float: right; clear: both; margin-top: 20px; margin-bottom: 20px; }
    .msg-list .left .mscontent { position: relative; left: -15px; top: 15px; }
    .msg-list .right .mscontent { position: relative; right: 5px; top: 5px; }
    body { background-color: #2E2E2E; }
    .body { background: -webkit-linear-gradient(left top, #323131, #2E2E2E); /* Safari 5.1 - 6.0 */ background: -o-linear-gradient(bottom right,#323131, #2E2E2E); /* Opera 11.1 - 12.0 */ background: -moz-linear-gradient(bottom right,#323131, #2E2E2E); /* Firefox 3.6 - 15 */ background: linear-gradient(to bottom right, #323131, #2E2E2E); /* 标准的语法 */ }
    .msg-list { background-color: white; padding: 5px; color: #666; font-size: 14px; font-family: "微软雅黑"; height: 400px; position: relative; overflow-x: hidden; overflow-y: auto; }
    .msg { background: #fff; border: 1px solid rgba(219, 20, 20, 0.97); padding: 5px; -ms-border-radius: 15px; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; width: 260px; background-color: #2B2A2A; background: white; margin: 2px; font-family: "微软雅黑"; line-height: 20px; margin-left: 2%; width: 70%; }

    .typearea { margin: 5px; }
        .typearea > div { }
        .typearea .sendbtn { position: relative; cursor: default; color: rgb(26, 25, 25); margin-left: 1%; }
            .typearea .sendbtn .icon { width: 47px; height: 36px; }
            .typearea .sendbtn .text { font-size: 5px; /* margin-left: -25px; */ position: absolute; left: 13px; top: 2px; }
</style>
<html>
<head>
    <link href="~/content/icono.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:40%;margin-left:30%;text-align:center;">
        <div class="msg-list">
            <div class="left">
                <div class="head">
                    <img src="~/images/1.jpg" /><div class="nickname">AAA</div>
                </div>
                <div class="mscontent">
                    asdasda
                </div>
            </div>
            <div class="right">
                <div class="mscontent">
                    addads
                </div>
                <div class="head">
                    <img src="~/images/1.jpg" />
                </div>
            </div>
        </div>
        <div class="typearea">
            <div style="border:none;"><input type="text" class="msg" placeholder="输入..." /><a class="sendbtn"><span class="icono-disqus icon"></span> <span class="text">发送</span> </a> </div><div></div>
        </div>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>


    var dChat = {
        config: {
            maxMsgLength: 100,
            maxExistDom: 10,
            requestTimeout: 5,
            waitTimeout: 3,
        },
        Index: 0,
        tempIndex: 0,
        user: {
            NickName: "ZS"
        }
        ,
        initial: function (dom, user, msgs) {
            if (!dom) {
                throw new DOMException("dom not exist");
            }
            var usr = dChat.getUser(user);
            dChat.user = usr;
            this.get();
            setInterval("CircleGet()", 1500, null);
        }
        ,

        get: function () {
            $.ajax(
               {
                   url: 'http://localhost:53432/Message/get?id=' + dChat.Index,
                   type: 'get',
                   datatype: 'jsonp',
                   jsonp: 'callback',
                   //  timeout: dChat.config.waitTimeout,
                   success: function (data) {
                       var jsondata = data;
                       dChat.Index = jsondata.Index;
                       msdata = jsondata.Data;
                       dChat.popMsgs(msdata, false);
                   },
                   error: function () {

                   },
                   complete: function () {

                   }
               }

                )
        },
        TestGet: function () {
            var x = Math.random();
            var waittime = x < 0.5 ? 2 : x * 5;
            dChat.send(waittime.toString(), false)
            setTimeout(dChat.TestGet, waittime * 1000);

        }

        ,
        send: function (msg, left) {
            $.ajax({
                url: 'http://localhost:53432/Message/push?value=' + msg,
                data: { value: msg },
                type: "post",
                //contenttype:"application/json",
                datatype: 'jsonp',
                jsonp: 'callback'
            });
            dChat.popMsgs(msg, true);


        },
        popMsgs: function (msg, left) {
            if (msg instanceof Array) {
                for (var i = 0; i < msg.length; i++) {
                    if (dChat.checkMsg(msg[i])) {
                        ms = msg[i].replace("value=", "");
                        dChat.popMsg(ms, left);
                    }

                }
            }
            else if (dChat.checkMsg(msg)) {
                dChat.popMsg(msg, left);
            }
        }
        ,
        popMsg: function (ms, isright) {
            var msg = decodeURI(ms);
            if (isright) {
                var msbody = $("<div>").addClass("right").append($("<div>").addClass("mscontent").text(msg)).append($("<div>").addClass("head").append($("<img>").attr("src", "../images/1.jpg")));
                $(".msg-list").append(msbody);
            } else {
                var msbody = $("<div>").addClass("left").append($("<div>").addClass("head").append($("<img>").attr("src", "../images/1.jpg")).append($("<div>").addClass("nickname").text(dChat.user.NickName))).append($("<div>").addClass("mscontent").text(msg));
                $(".msg-list").append(msbody);

            }

            if ($(".msg-list>.left,.msg-list>.right").length > dChat.config.maxExistDom) {
                var rmIndex = $(".msg-list>.left,.msg-list>.right").length - dChat.config.maxExistDom;
                var extraDoms = $(".msg-list>.left,.msg-list>.right:lt(" + rmIndex + ")");
                extraDoms.remove();
            }
            var height = $(".msg-list").get(0).scrollHeight;
            $(".msg-list").animate({ scrollTop: height }, 800);

        }
        ,
        checkMsg: function (msg) {
            if (!msg || msg.length > dChat.config.maxMsgLength) {
                return false;
            }
            return true;

        },
        getUser: function (user) {
            if (!user || !("Name" in user)) {
                return {
                    Name: "匿名用户",
                    ID: "",
                }
            }

        }


    };
    function sendMsg() {

        var msg = $(".typearea .msg").val();
        $(".typearea .msg").val("");
        dChat.send(msg, true);
    };
    $(".sendbtn").click(function () {
        sendMsg();
    });
    $(document).keydown(function (event) {
        if (event.ctrlKey && event.keyCode == 13) {
            sendMsg();
        }
    });
    function CircleGet() {
        dChat.get();


    }
    dChat.initial($(".msg-list"), { NickName: "Zh-cn" });



</script>
<script>

</script>