@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width;initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0" />
    <meta name="MobileOptimized" content="320" />
    <meta name="Iphone-content" content="320" />
    <meta name="format-detection" content="telephone =no" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <link href="~/content/icono.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Daker-Mobile</title>
</head>
<body>
    <div id="container" class="enviroment-small">
        <div class="msg-list">
            <div class="left">
                <div class="head">
                    <img src="~/images/1.jpg" /><div class="nickname">AAA</div>
                </div>
                <div class="mscontent">
                    asdasda
                </div>
            </div>
            <div class="right">
                <div class="mscontent">
                    addads
                </div>
                <div class="head">
                    <img src="~/images/1.jpg" />
                </div>
            </div>
        </div>
        <div class="typearea">
            <div style="border:none;"><input type="text" class="msg" placeholder="输入..." /><a class="sendbtn"><span class=" icon"><span class="text">发送</span></span>  </a> </div><div></div>
        </div>

    </div>
</body>
</html>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>


    var dChat = {
        config: {
            maxMsgLength: 100,
            maxExistDom: 10,
            requestTimeout: 5,
            waitTimeout: 3,
        },
        Index: 0,
        tempIndex: 0,
        user: {
            NickName: "ZS"
        }
        ,
        initial: function (dom, user, msgs) {
            if (!dom) {
                throw new DOMException("dom not exist");
            }
            var usr = dChat.getUser(user);
            dChat.user = usr;
            this.get();
            setInterval("CircleGet()", 1500, null);
        }
        ,

        get: function () {
            $.ajax(
               {
                   url: 'http://localhost:53432/Message/get?id=' + dChat.Index,
                   type: 'get',
                   datatype: 'jsonp',
                   jsonp: 'callback',
                   //  timeout: dChat.config.waitTimeout,
                   success: function (data) {
                       var jsondata = data;
                       dChat.Index = jsondata.Index;
                       msdata = jsondata.Data;
                       dChat.popMsgs(msdata, false);
                   },
                   error: function () {

                   },
                   complete: function () {

                   }
               }

                )
        },
        TestGet: function () {
            var x = Math.random();
            var waittime = x < 0.5 ? 2 : x * 5;
            dChat.send(waittime.toString(), false)
            setTimeout(dChat.TestGet, waittime * 1000);

        }

        ,
        send: function (msg, left) {
            $.ajax({
                url: 'http://localhost:53432/Message/push?value=' + msg,
                data: { value: msg },
                type: "post",
                //contenttype:"application/json",
                datatype: 'jsonp',
                jsonp: 'callback'
            });
            dChat.popMsgs(msg, true);


        },
        popMsgs: function (msg, left) {
            if (msg instanceof Array) {
                for (var i = 0; i < msg.length; i++) {
                    if (dChat.checkMsg(msg[i])) {
                        ms = msg[i].replace("value=", "");
                        dChat.popMsg(ms, left);
                    }

                }
            }
            else if (dChat.checkMsg(msg)) {
                dChat.popMsg(msg, left);
            }
        }
        ,
        popMsg: function (ms, isright) {
            var msg = decodeURI(ms);
            var msbody;
            if (isright) {
                msbody = $("<div>").addClass("right").append($("<div>").addClass("mscontent").text(msg)).append($("<div>").addClass("head").append($("<img>").attr("src", "../images/1.jpg")));
                $(".msg-list").append(msbody);
            } else {
                msbody = $("<div>").addClass("left").append($("<div>").addClass("head").append($("<img>").attr("src", "../images/1.jpg")).append($("<div>").addClass("nickname").text(dChat.user.NickName))).append($("<div>").addClass("mscontent").text(msg));
                $(".msg-list").append(msbody);

            }

            if ($(".msg-list>.left,.msg-list>.right").length > dChat.config.maxExistDom) {
                var rmIndex = $(".msg-list>.left,.msg-list>.right").length - dChat.config.maxExistDom;
                var extraDoms = $(".msg-list>.left,.msg-list>.right:lt(" + rmIndex + ")");
                extraDoms.remove();
            }
            var height = $(".msg-list").get(0).scrollHeight;
            $(".msg-list").animate({ scrollTop: height }, 800);

        }
        ,
        checkMsg: function (msg) {
            if (!msg || msg.length > dChat.config.maxMsgLength) {
                return false;
            }
            return true;

        },
        getUser: function (user) {
            if (!user || !("Name" in user)) {
                return {
                    Name: "匿名用户",
                    ID: "",
                }
            }

        }


    };
    function sendMsg() {

        var msg = $(".typearea .msg").val();
        $(".typearea .msg").val("");
        dChat.send(msg, true);
    };
    $(".sendbtn").click(function () {
        sendMsg();
    });
    $(document).keydown(function (event) {
        if (event.ctrlKey && event.keyCode == 13) {
            sendMsg();
        }
    });
    function CircleGet() {
        dChat.get();


    }
    dChat.initial($(".msg-list"), { NickName: "Zh-cn" });



</script>
<script>
</script>