@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
    <link href="~/Content/icono.min.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    @*<link href="~/content/icono.min.css" rel="stylesheet" />*@
    <meta name="viewport" content="width=device-width" />
    <title>Daker</title>
</head>
<body>
    <div style="text-align: right">
        <div class="usr-state">
            <span>你好,</span><span id="curUser">你还没有登录</span>
        </div>
    </div>
    <div class="fl-left">
        <div class="on-line">
            <div class="title">
                当前在线用户共<span class="online-count">0</span>人.
            </div>
            <div>
                <ul></ul>
            </div>
        </div>
        <div class="what-new">
            <div class="title">动态</div>
            <div class="list">
                <ul></ul>
            </div>
        </div>
    </div>
    <!--聊天框-->
    <div id="container" class="enviroment-big">
        <div class="msg-list">
        </div>
        <div class="typearea">
            <div style="border: none;">
                <input type="text" class="msg" placeholder="输入..." /><a class="sendbtn"><span class=" icon"><span class="text">发送</span></span>  </a>
            </div>
            <div></div>
        </div>
    </div>
    <!--聊天框 end-->
    <!--登录-->
    <div class="login">
        <div>
            <div class="tang-title">
                登录到DAKER
            </div>
            <form id="fm">

                <div>
                    <div class="input-con">
                        <span class="icono-user"></span><input type="text" name="Name" id="Name" placeholder="用户名" />
                    </div>
                </div>
                <div>
                    <div class="input-con">
                        <span class="icono-flickr"></span><input type="password" name="Password" id="Password" placeholder="密码" />
                    </div>

                </div>
                <div class="login-btn-con">
                    <a id="login" href="#" class="login-btn">登录</a>
                </div>
                <div class="reg-con">
                    <a id="reg" href="@Url.Action("Regester", "Member")">立即注册</a>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
<script src="~/Scripts/ofpages/chat.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/ofpages/core.js"></script>
<script>


    var dChat = {
        config: {
            apiHost: 'http://localhost:53432',
            maxMsgLength: 100,
            maxExistDom: 10,
            requestTimeout: 5,
            timeout: 3
        },
        Index: '',
        user: {}
        ,
        OnlineUsers: []
        ,
        initial: function (dom, user, msgs) {
            $('<audio id="auonline"><source src="../Content/audio/auonline.mp3" type="audio/mp3"></audio>').appendTo('body');
            $('<audio id="newmsg"><source src="../Content/audio/msg.mp3" type="audio/mp3"></audio>').appendTo('body');
            $('<audio id="ausend"><source src="../Content/audio/send.ogg" type="audio/ogg"></audio>').appendTo('body');
            $(".sendbtn").bind("click", function () {
                dChat.send();
            });
            $(document).keydown(function (event) {
                if ((event.ctrlKey && event.keyCode == 13) || (event.keyCode == 13)) {
                    dChat.send();
                }
            });
            window.onbeforeunload = function (event) {
                dChat.offLineSelf();
            }
            dChat.user = user;
            this.onLineOne(user);
            this.setLoginState(user.NickName);
            this.polling();
            //this.OnlineFirst();

        }
        ,
        setLoginState: function (usrName) {
            $("#curUser").text(usrName);
        }
        //,
        /*OnlineFirst: function () {
             $.ajax({
                 url: '../Member/Onlines',
                 type: 'get',
                 datatype: 'jsonp',
                 jsonp: 'callback',
                 // timeout: dChat.config.timeout,
                 success: function (data) {
                     if (data.status) {
                         var usrs = data.Data;
                         if (usrs.length) {
                             dChat.OnlineUsers = usrs;
                             dChat.updateOnlines(usrs);
                         }
                     } else {
                         {
                             alert("用户名或密码错误.");
                         }
                     }
                 }

             });

         }
         */,
        onLineOne: function (curUser) {
            if (!dChat.OnlineUsers.containsUser(curUser)) {
                $("#auonline")[0].play();
                dChat.OnlineUsers.push(curUser);
                var $newContainer = $(".what-new .list ul");
                var $newDom = $("<li>").addClass("on-state").text(curUser.NickName + "进入了房间.");
                $newContainer.append($newDom);
                var $container = $(".on-line ul");
                var liDom = $("<li>").addClass("one-li").attr("usrid", curUser.Id).append($("<img>").attr("src", curUser.HeadImgPath)).append($("<span>").addClass("nick").text(curUser.NickName));
                $container.append(liDom);
            }


        },
        offLineSelf: function () {
            $.ajax({
                url: '../Member/OffLine/' + dChat.user.Id,
                type: 'post',
                dataType: 'jsonp',
                jsonp: 'callback'
            });
            this.offLineOne(this.user);
            $("script").remove();
        }
        ,
        offLineOne: function (usr) {
            var $newContainer = $(".what-new .list ul");
            var $newDom = $("<li>").addClass("on-state").text(usr.NickName + "离开了房间.");
            $newContainer.append($newDom);
            var $container = $(".on-line ul");
            $container.children("li.one-li").each(function () {
                var $tsDom = $(this);
                if ($tsDom.attr("usrid") == usr.Id) {
                    $tsDom.remove();
                }

            })

        }
        ,
        polling: function () {
            try {
                $.ajax(
                    {
                        url: dChat.config.apiHost + "/Message/get?id=" + dChat.Index,
                        type: 'get',
                        datatype: 'jsonp',
                        jsonp: 'callback',
                        // timeout: dChat.config.timeout,
                        success: function (totaldata) {
                            var data = totaldata.Message;
                            var usrs = totaldata.Users;
                            dChat.updateOnlines(usrs);
                            if (data.length > 0) {
                                //提醒：
                                $('#newmsg')[0].play();
                                dChat.Index = $(data).last()[0].Id;
                                if (data instanceof Array) {
                                    $(data).each(function () {
                                        if (dChat.filtered(this)) {
                                            dChat.popLeft(this);
                                        }
                                    });

                                } else {
                                    if (dChat.filtered($(data))) {
                                        dChat.popLeft($(data));
                                    }
                                }
                            }
                            dChat.polling();

                        },
                        error: function () {
                            setTimeout(dChat.polling, 3000);//出现错误，则3秒后重试
                        }

                    }
                );
            } catch (e) {

            }

        },
        send: function () {

            var msg = $(".typearea .msg").val();
            $(".typearea .msg").val("");
            if (!msg || msg.length <= 0) {
                return;
            }
            var msgObject = { MsgContent: msg, Sender: this.user }
            $.ajax({
                url: this.config.apiHost + '/Message/push?value=' + msg,
                data: JSON.stringify({ MsgContent: msg, UserId: this.user.UserId, Sender: this.user }),
                type: "post",
                contenttype: "application/json",
                datatype: 'jsonp',
                jsonp: 'callback'
            });
            $("#ausend")[0].play();
            dChat.popRight(msgObject);


        }
        ,
        updateOnlines: function (usrs) {
            //1.add
            if (usrs && usrs.length) {
                $(".online-count").text(usrs.length);
                $(usrs).each(function () {
                    var curUsr = this;
                    dChat.onLineOne(curUsr);
                })
                $(dChat.OnlineUsers).each(function () {
                    var usr = this;
                    if (!usrs.containsUser(usr)) {
                        dChat.OnlineUsers.removeUser(usr);
                        dChat.offLineOne(usr);
                    }

                });
            }


        }
        ,
        filtered: function (msg) {
            if ((msg && msg.Sender.Id != dChat.user.Id) && msg.MsgContent.length) {
                return true;
            }
            return false;

        }
        ,
        popRight: function (data) {
            var msg = decodeURI(data.MsgContent);
            var sender = data.Sender;
            var msbody = $("<div>").addClass("right").append($("<div>").addClass("mscontent").text(msg)).append($("<div>").addClass("head").append($("<img>").attr("src", sender.HeadImgPath)));
            $(".msg-list").append(msbody);
            if ($(".msg-list>.left,.msg-list>.right").length > dChat.config.maxExistDom) {
                var rmIndex = $(".msg-list>.left,.msg-list>.right").length - dChat.config.maxExistDom;
                var extraDoms = $(".msg-list>div:lt(" + rmIndex + ")");
                extraDoms.remove();
            }
            var height = $(".msg-list").get(0).scrollHeight;
            //HandleScroll();
            $(".msg-list").animate({ scrollTop: height }, 800);
        }
        ,
        popLeft: function (data) {
            var msg = decodeURI(data.MsgContent);
            var sender = data.Sender;
            if (!InViewState()) {
                Notice(sender.NickName + "...", msg);
            }
            var msbody = $("<div>").addClass("left").append($("<div>").addClass("head").append($("<img>").attr("src", sender.HeadImgPath)).append($("<div>").addClass("nickname").text(sender.NickName))).append($("<div>").addClass("mscontent").text(msg));
            $(".msg-list").append(msbody);
            if ($(".msg-list>.left,.msg-list>.right").length > dChat.config.maxExistDom) {
                var rmIndex = $(".msg-list>.left,.msg-list>.right").length - dChat.config.maxExistDom;
                var extraDoms = $(".msg-list>div:lt(" + rmIndex + ")");
                extraDoms.remove();
            }
            var height = $(".msg-list").get(0).scrollHeight;
            $(".msg-list").animate({ scrollTop: height }, 800);
        }
    };

    $("#login").click(function () {
        var name = $("#Name").val();
        var pwd = $("#Password").val();
        if (!name || !pwd) {
            alert("请输入用户名密码.");
            return;
        }
        $(this).addClass("loading");
        $(this).text("");
        $(this).attr("disabled", "true");
        $.ajax({
            url: "../Member/Login",
            type: 'post',
            data: $("#fm").serialize(),
            datatype: 'json',
            success: function (jsondata) {
                if (jsondata.status) {
                    $(".login").slideUp();
                    dChat.initial($(".msg-list"), jsondata.Data);
                } else {
                    {
                        alert("用户名或密码错误.");

                    }
                }
            }, error: function () {
                alert("服务器错误.");
            },
            complete: function () {
                $("#login").removeClass("loading");
                $("#login").text("登录");
                $("#login").removeAttr("disabled");
            }
        });
    });
</script>
<script src="~/Scripts/notify.js"></script>
<script>
</script>