@model IEnumerable<DChat.Model.Models.MsgItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*@foreach(DChat.Model.Models.MsgItem item in Model)
        {
            <h5>@item.Id</h5>
            <h5>@item.MsgContent</h5>
            <h5>@item.SendTime</h5>
            <br/>
        }*@
    </div>
</body>
</html>
