@model DChat.Model.Models.UserInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h6>你好,@Model.Name</h6>
    </div>
    <div>
        <a href="@Url.Action("Index", "Talk")">去聊天</a>
        <a href="@Url.Action("Index", "Talk")">去论坛</a>
        <a href="@Url.Action("Index", "Talk")">随便看看</a>
    </div>
</body>
</html>
